*.toc
*.aux
*.log
*.dvi
*.bbl
*.blg
*.idx
*.ilg
*.ind
*.out
*.nlo
*.nls
*.snm
*.nav
*.latexmain
*_latexmk
*.tar.gz
*.gnuplot
*.table
*-blx.bib
*.run.xml
*.bcf
*.fls
comment.cut
*._log
*._aux
*.vim
.tmp
*.swp
*.pdf
